<div class="list" ng-controller='TasksController'>
  <h4>Tasks</h4>

{{predicate}}
{{url}}
  <div class="row">
    <div class="small-9 columns">

    </div>
    <div class="small-3 columns">
      <a href="#/addtask"><div class="button">Add Task</div></a>
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns">
      <form class="tasktypeform">
        <label>
          <input ng-model="tasktype" type="radio" ng-model="tasktype" value="Pending" ng-change="setcompletionfunc()">
          Pending
        </label>
        <label>
          <input ng-model="tasktype" type="radio" ng-model="tasktype" value="Completed" ng-change="setcompletionfunc()">
          Completed
        </label>
        <label>
          <input ng-model="tasktype" type="radio" ng-model="tasktype" value="All" ng-change="setcompletionfunc()">
          All
        </label>
      </form>
    </div>

    <div class="small-4 columns">
      <form name="myForm">
    <label for="mySelect">Make a choice:</label>
    <select name="mySelect" id="mySelect"
      ng-options="option.name for option in sortoption.availableOptions track by option.id"
      ng-model="sortoption.selectedOption"
      ng-click="updatesortoption()"></select>
  </form>
    </div>
    <div class="small-4 columns">
      <form class="orderform" >
        <label>
          <input ng-model="orderv" value='false' type="radio" ng-change="setorderfunc()">
          Ascending
        </label>
        <label>
          <input ng-model="orderv" value='true' type="radio" ng-change="setorderfunc()">
          Descending
        </label>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="small-1 columns">
      <div class="button" ng-click="setprev()">PREV</div>
    </div>
    <div class="small-10 columns">
    </div>
    <div class="small-1 columns">
      <div class="button" ng-click="setnext()">NEXT</div>
    </div>
  </div>
  <br>
  <!-- <pre>Sorting predicate = {{predicate}}; reverse = {{reverse}}</pre> -->
  <div class="tasklist">
    <ul class="tasks">
      <!-- <li ng-repeat="task in tasks|startFrom|orderBy:predicate:reverse|ifcomplete:tasktype" class="thumbnail listview"> -->
        <li ng-repeat="task in tasks" class="thumbnail listview">
            <div class="row">
              <div class="small-7 columns">
                <a href="#/tasks/{{task._id}}">{{task.name}}</a><br>
              </div>


              <div class="small-5 columns">
                <div class="row">
                  <div class="small-8 columns">
                    <p>Deadline:{{task.deadline}}<br>Assigned To:{{task.assignedUserName}}</p>
                  </div>
                  <div class="small-4 columns">
                    <div class="button" ng-click="deletetask(task._id)">DELETE</div>
                  </div>
                </div>
              </div>
            </div>
      </li>
    </ul>
  </div>

</div>
