<div class="list" ng-controller='TaskDetail'>
  <h2>Edit Task</h2>
  <!-- {{cont}} -->
  <div class="row">
    <div class="small-8 columns">
   Name *:<br> <input ng-model="formdata.name" ng-value="formdata.name" class="listview" ><br></br>
   Description:<br> <textarea rows="4" ng-model="formdata.description" class="listview" placeholder="Put your description here"></textarea>
   Deadline *:<br><datepicker> <input ng-model="formdata.deadline" class="listview" type="text"/></datepicker><br></br>

   Assigned To
   <form name="myForm">
    <label for="mySelect"></label>
    <select name="mySelect" id="mySelect"
      ng-options="option for option in userlist"
      ng-model="formdata.assignedUserName"
      ng-click=""></select>
  </form>
  Complete?
   <form>
        <label>
          <input type="radio" ng-model="formdata.completed" value="true">
          Yes
        </label>
        <label>
          <input type="radio" ng-model="formdata.completed" value="false">
          No
        </label>
    </form>
   <div>{{returninfo}}</div></br>
    <div class="button" ng-click="updatetaskfunc()">Submit</div>
 </div>
</div>
